<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="!shouldRun">
  <mat-sidenav class="example-sidenav" #sidenav (keydown.escape)="close('escape')" disableClose position="end">

    <div class="container">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('toggle button')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/assets/images/catalog/cat10.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">White Shirt Pleat</h5>
                  <p class="card-text">1 x $19.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/assets/images/catalog/cat4.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">White Shirt Pleat</h5>
                  <p class="card-text">1 x $19.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/assets/images/catalog/cat2.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">White Shirt Pleat</h5>
                  <p class="card-text">1 x $19.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-10">
          <button type="button" class="btn btn-primary btn-lg btn-block rounded-pill" (click)="close('toggle button')" routerLink="/purchase">Сheckout</button>
        </div>
      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="navbar sticky-top navbar-light bg-light shadow-lg p-3 mb-1 bg-white rounded">
      <h5 class="my-0 mr-md-auto font-weight-normal">{{title}}</h5>
      <a class="nav-item nav-link text-dark p-2" routerLink="/">Home</a>
      <a class="nav-item nav-link text-dark p-2" routerLink="/about">About</a>

      <a class="p-2 text-dark" mat-button (click)="sidenav.open()"><span style="font-size: 2em; color: Black;" matBadge="3" matBadgeColor="primary"><i class="fas fa-shopping-cart"></i></span></a>

      <div class="btn-group dropleft">

        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="my-2 my-sm-0 img-circle" width="60px" height="60px" src="/assets/images/profile_placeholder.png">
        </button>

        <div class="dropdown-menu">
          <div class="px-4 py-3">

            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Hello dear User</label>
            </div>

            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Your balls: 11 </label>
            </div>

            <button type="button" class="btn btn-primary btn-lg btn-block rounded-pill">Sign out</button>

          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">как заработать баллы?</a>
        </div>
      </div>
      <a class="btn btn-outline-primary p-2" href="#">Sign up</a>
    </nav>

   <router-outlet></router-outlet>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2019 {{title}}</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="nav-item nav-link text-dark p-2" routerLink="/privacy">Privacy</a></li>
        <li class="list-inline-item"><a class="nav-item nav-link text-dark p-2" data-toggle="modal" data-target="#exampleModalCenter">Contact</a></li>
        <li class="list-inline-item"><a class="nav-item nav-link text-dark p-2" routerLink="/admin">Admin</a></li>
      </ul>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Contact with us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" formControlName="mailAddress" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" formControlName="mailText" id="exampleFormControlTextarea1" style="overflow:auto;resize:none" rows="4"></textarea>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">Send</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
